.podcast-btn {
  width: 100px;
  background-image: url('/img/trash/menu-podcast-link.svg');
}
.si-up_b-style {
  font-weight: 600;
  background-color: #47b3ac;
  border-radius: 50px;
  padding: 10px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 12px;
  height: 35px;
}
.l-nav-b_position {
  display: flex;
}
.type-list-right-menu {
  cursor: pointer;
  text-align: center;
  margin: 23px 10px;
  height: auto;
  display: block;
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  font-size: 13px;
}
.search-b {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 20px;
  height: 20px;
  color: #a1a3a3;
  margin: 20px 3px 0px 0px;
}
.back-g_headr_menu {
  background-color: #212121;
  color: white;
  position: fixed;
  width: 100%;
  height: 62px;
}
.r-nav-b_position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 15px;
  // max-width: 1280px;
}
.menu_list {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  display: flex;
  padding-top: 22px;
  font-weight: 600;
}
.menu_list li {
  min-width: 96px;
  min-height: 36px;
}
.active {
  border-bottom: 4px solid #47b3ac;
}
